<div class="padding-global padding-section-medium">
          <div class="container-large">
            {% assign currentArticle = article.title %}
            <div class="container-small">
              <div class="text-align-center">
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h3">The Art of Recognizing Authenticity</h3>
                </div>
                <div class="text-size-medium">Each item undergoes a multistep inspection prior to being purchased and sold</div>
              </div>
            </div>
            <div class="spacer-xlarge"></div>
            <div li-content-for-blocks="" class="authentication_articles">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

              {% when 'blog' %}
            <div li-block="Blog" class="article_block">
                    
                
                    <a li-object:href="url" href="{{ block.settings.url_url }}" class="blog_item-grid w-inline-block"> <div id="w-node-ff7906f4-5ab2-8555-22d2-634e82de2142-1e531e72" class="blog_tags-wrapper">{% if block.settings.image_article_image %} {{ block.settings.image_article_image | image_url: width: 1000 | image_tag: class: 'blog_img', sizes: '(max-width: 2048px) 100vw, 2048px', id: 'w-node-ff7906f4-5ab2-8555-22d2-634e82de2143-1e531e72', loading: 'lazy' }} {% else %} <img class="blog_img" src="{{ 'RO_26591TI-OO-1252TI-03_closeup_GP14_JPEG.jpeg' | asset_url }}" alt="" sizes="(max-width: 2048px) 100vw, 2048px" id="w-node-ff7906f4-5ab2-8555-22d2-634e82de2143-1e531e72" loading="lazy" srcset="{{ 'RO_26591TI-OO-1252TI-03_closeup_GP14_JPEG.jpeg' | asset_url }} 500w, {{ 'RO_26591TI-OO-1252TI-03_closeup_GP14_JPEG.jpeg' | asset_url }} 800w, {{ 'RO_26591TI-OO-1252TI-03_closeup_GP14_JPEG.jpeg' | asset_url }} 1080w, {{ 'RO_26591TI-OO-1252TI-03_closeup_GP14_JPEG.jpeg' | asset_url }} 1600w, {{ 'RO_26591TI-OO-1252TI-03_closeup_GP14_JPEG.jpeg' | asset_url }} 2000w, {{ 'RO_26591TI-OO-1252TI-03_closeup_GP14_JPEG.jpeg' | asset_url }} 2048w"> {% endif %}</div> <div id="w-node-ff7906f4-5ab2-8555-22d2-634e82de2144-1e531e72" class="spacer-tiny"></div> <div class="blog_tag-row"> <div class="blog_tag"> <div>Real or Fake</div> </div> </div> <div class="blog_info-wrapper"> <h3 class="heading-style-h7">{{ block.settings.text_article }}</h3> </div> </a>
                    
              
                </div>
            {% endcase %}
{% endfor %}

    </div>
            <div class="spacer-xlarge"></div>
            <div class="button-group">
              <a href="{{ section.settings.url_button_link }}" class="button is-outline w-button"> {{ section.settings.text_button_text }} </a>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Authenticity Guides",
    "class": "section_related-articles",
    "blocks": [
        {
            "name": "Blog",
            "type": "blog",
            "settings": [
                {
                    "id": "url_url",
                    "type": "url",
                    "label": "url"
                },
                {
                    "id": "image_article_image",
                    "type": "image_picker",
                    "label": "Article Image"
                },
                {
                    "id": "text_article",
                    "type": "text",
                    "label": "Article",
                    "default": "How to Inspect An Audemars Piguet Watch"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More Authenticity Guides"
        }
    ],
    "presets": [
        {
            "name": "Authenticity Guides",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "blog"
                }
            ]
        }
    ]
} {% endschema %}