<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="footer_main-wrapper">
              <div id="w-node-_5eccf730-c887-5204-0e0c-693f99a7329a-99a7328f" class="footer_newsletter">
                <div class="newsletter_announcement">
                  <h2 class="heading-style-h5">Refine your luxury taste</h2>
                  <div>Join our inner circle and be the first to explore new arrivals, exclusive offers and insider insights.</div>
                </div>
                <div class="footer_form-block w-form">
                  {% form 'customer', return_to: '/', class: 'footer_form' %}
<div class="form_wrapper">
                      <div class="form_field-wrapper"><label for="Email" class="form_hidden-label">Your E-Mail-Address</label><input class="form_input w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="{{ section.settings.placeholder_text }}" type="email" id="Email" required=""></div><input type="submit" data-wait="" id="w-node-_5eccf730-c887-5204-0e0c-693f99a732ae-99a7328f" class="button w-button" value="Subscribe">
                    </div>
                    <div li-object="form.errors | default_errors" class="text-size-tiny text-color-red">{{ form.errors | default_errors }}</div>
                    <div id="w-node-_5eccf730-c887-5204-0e0c-693f99a732a5-99a7328f" class="hide w-embed"><input type="hidden" name="contact[accepts_marketing]" value="false"></div><label id="w-node-_5eccf730-c887-5204-0e0c-693f99a732a6-99a7328f" class="w-checkbox form_checkbox" name="contact[accepts_marketing]"><input type="checkbox" name="Accepts-Marketing-2" id="Accepts-Marketing-2" data-name="Accepts Marketing 2" class="w-checkbox-input form_checkbox-icon"><span class="form_checkbox-label text-size-tiny w-form-label" for="Accepts-Marketing-2">
{{ section.settings.text_checkbox }}
</span></label>
                  {% endform %}
                  <div class="hide w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="hide w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
              <div class="footer_content">
                <div class="contact-info">
                  <div class="footer-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="280" height="41" fill="none">
                      <path fill="#BDA66E" d="M74.523 12.718h.08l.595-1.397 1.508-3.241h2.182l-4.166 7.906h-.345L70.25 8.08h2.144l1.52 3.241.609 1.397Zm8.996-4.638h1.919v7.906h-1.919V8.08Zm15.108 7.906h-.436l-5.133-4.361v4.36h-1.905V8.08h.436l5.133 4.19V8.093h1.905v7.893Zm5.002-7.906h6.905v1.647h-2.487v6.259h-1.918v-6.26h-2.5V8.08Zm14.34 3.347h-.106l-.978 2.068-.119.212h2.302l-.12-.212-.979-2.068Zm-.198-3.347h.317l4.167 7.906h-2.169l-.436-.936h-3.453l-.424.936h-2.156l4.154-7.906Zm12.356 3.202h3.996v.883c0 2.306-1.257 3.992-3.797 3.992-2.645 0-4.246-1.858-4.246-4.124 0-2.266 1.601-4.124 4.246-4.124 2.103 0 2.99.988 2.99.988l-1.138 1.45s-.754-.607-1.878-.607c-1.283 0-2.236.923-2.236 2.293s.953 2.293 2.236 2.293c1.137 0 1.733-.686 1.759-1.463v-.079h-1.932v-1.502Zm14.553 1.502h-3.493v1.554h4.393v1.648h-6.311V8.08h6.311v1.647h-4.393v1.554h3.493v1.503Zm18.839 2.411s-.886.962-2.831.962c-2.659 0-4.26-1.858-4.26-4.124 0-2.266 1.601-4.124 4.26-4.124 1.958 0 2.831.962 2.831.962l-1.098 1.462s-.82-.593-1.706-.593c-1.35 0-2.302.923-2.302 2.293s.952 2.293 2.302 2.293c1.124 0 1.706-.593 1.706-.593l1.098 1.462Zm10.822-3.162c0-1.37-.992-2.28-2.275-2.28-1.257 0-2.249.91-2.249 2.28 0 1.37.992 2.28 2.249 2.28 1.283 0 2.275-.91 2.275-2.28Zm-6.508 0c0-2.266 1.601-4.124 4.233-4.124 2.659 0 4.26 1.858 4.26 4.124 0 2.266-1.601 4.124-4.26 4.124-2.632 0-4.233-1.858-4.233-4.124Zm21.206 3.953h-.436l-5.133-4.361v4.36h-1.905V8.08h.437l5.132 4.19V8.093h1.905v7.893Zm5.001-7.906h6.906v1.647h-2.487v6.259h-1.919v-6.26h-2.5V8.08Zm17.318 4.704h-3.493v1.554h4.392v1.648h-6.31V8.08h6.31v1.647h-4.392v1.554h3.493v1.503Zm6.694.856s1.151.765 2.315.765c.728 0 .992-.303.992-.66 0-.408-.278-.619-1.481-.948-1.747-.488-2.739-1.133-2.739-2.438 0-1.436 1.032-2.45 3.188-2.45 2.223 0 3.096.843 3.096.843l-1.032 1.555s-.86-.66-2.064-.66c-.753 0-.978.251-.978.58 0 .396.37.554 1.375.817 1.865.488 2.884 1.173 2.884 2.491 0 1.436-1.005 2.622-3.188 2.622-2.262 0-3.413-1.054-3.413-1.054l1.045-1.463Zm11.272 0s1.15.765 2.315.765c.727 0 .992-.303.992-.66 0-.408-.278-.619-1.482-.948-1.746-.488-2.738-1.133-2.738-2.438 0-1.436 1.032-2.45 3.188-2.45 2.223 0 3.096.843 3.096.843l-1.032 1.555s-.86-.66-2.064-.66c-.754 0-.979.251-.979.58 0 .396.37.554 1.376.817 1.865.488 2.884 1.173 2.884 2.491 0 1.436-1.006 2.622-3.188 2.622-2.262 0-3.414-1.054-3.414-1.054l1.046-1.463Zm13.89-2.213h-.105l-.979 2.068-.119.212h2.302l-.119-.212-.98-2.068Zm-.198-3.347h.317l4.168 7.906h-2.17l-.436-.936h-3.453l-.424.936h-2.155l4.153-7.906ZM74.523 30.086 73.187 28.4c-.53.091-.873.5-.873.961 0 .528.383.989 1.27.989.357 0 .675-.093.94-.264ZM75.9 31.8l-.344-.421c-.582.382-1.296.592-2.104.592-2.13 0-3.201-1.172-3.201-2.49 0-1.107.622-2.042 1.865-2.438l-1.137-1.436v-1.713h5.304v1.647H73.36l2.156 2.767c.04-.237.066-.474.066-.738v-.645h1.826v.645c-.013.91-.211 1.727-.582 2.412l1.323 1.686v.132h-2.25Zm12.185-7.906h6.905v1.647h-2.487V31.8h-1.918V25.54h-2.5v-1.647Zm11.907 0h1.918V31.8h-1.918v-7.906Zm14.023 3.756-2.064 2.016h-.331l-2.09-2.03V31.8h-1.904v-7.906h.515l3.611 3.386 3.665-3.386h.503V31.8h-1.905v-4.15Zm13.031.948h-3.492v1.555h4.391v1.647h-6.31v-7.906h6.31v1.647h-4.391v1.555h3.492v1.502Zm6.694.857s1.151.764 2.316.764c.727 0 .992-.303.992-.659 0-.409-.278-.62-1.482-.949-1.747-.488-2.739-1.133-2.739-2.438 0-1.436 1.033-2.45 3.189-2.45 2.222 0 3.095.843 3.095.843l-1.031 1.555s-.861-.659-2.064-.659c-.754 0-.979.25-.979.58 0 .394.37.553 1.376.816 1.864.488 2.884 1.173 2.884 2.491 0 1.436-1.006 2.622-3.188 2.622-2.263 0-3.414-1.054-3.414-1.054l1.045-1.462Zm20.467-3.914h-1.747v2.372h1.759c.887 0 1.376-.395 1.376-1.186 0-.764-.502-1.186-1.388-1.186Zm3.373 1.107c0 1.858-1.442 2.846-3.413 2.846h-1.707v2.306h-1.918v-7.906h3.757c2.011 0 3.281 1.027 3.281 2.754Zm7.647.593h-.106l-.979 2.069-.119.21h2.302l-.119-.21-.979-2.07Zm-.199-3.347h.318l4.167 7.906h-2.169l-.437-.936h-3.453l-.423.936h-2.156l4.153-7.906Zm9.526 5.56s1.151.765 2.316.765c.727 0 .991-.303.991-.659 0-.409-.277-.62-1.482-.949-1.746-.488-2.738-1.133-2.738-2.438 0-1.436 1.032-2.45 3.188-2.45 2.223 0 3.096.843 3.096.843l-1.032 1.555s-.86-.659-2.064-.659c-.754 0-.979.25-.979.58 0 .394.371.553 1.376.816 1.865.488 2.884 1.173 2.884 2.491 0 1.436-1.006 2.622-3.188 2.622-2.262 0-3.413-1.054-3.413-1.054l1.045-1.462Zm10.054-5.56h6.906v1.647h-2.487V31.8h-1.918V25.54h-2.501v-1.647ZM35.835 8.33c-4.583 0-7.76 2.62-10.303 5.918l2.423 3.299c1.94-2.677 4.253-4.687 7.536-4.687 4.135 0 7.374 2.952 7.374 7.14 0 3.845-2.688 7.206-7.374 7.206-3.604 0-6.07-2.697-8.264-5.986l-.094-.141a33.81 33.81 0 0 0-2.069-2.828c-.688-.834-1.938-2.624-2.132-2.925-2.738-3.786-6.144-6.995-11.217-6.995C4.548 8.33 0 13.89 0 20c0 6.247 4.548 11.669 11.715 11.669 4.585 0 7.761-2.576 10.305-5.82l-2.435-3.383c-1.955 2.693-4.3 4.74-7.525 4.74-4.686 0-7.304-3.431-7.304-7.206 0-3.64 2.617-7.14 7.304-7.14 3.67 0 6.089 2.65 8.273 5.933v-.001l2.277 3.191 1.09 1.526.006-.008c.137.201.277.4.416.6.135.189.253.352.341.478 2.754 3.816 6.14 7.09 11.372 7.09 7.375 0 11.785-5.56 11.785-11.67 0-7-5.446-11.669-11.785-11.669ZM20.38 4.912h.047l.36-.846.915-1.963h1.32L20.5 6.891h-.209l-2.5-4.788h1.299l.922 1.963.368.846Zm9.252 1.5s-.536.583-1.713.583c-1.61 0-2.58-1.125-2.58-2.497 0-1.374.97-2.498 2.58-2.498 1.185 0 1.713.583 1.713.583l-.665.885s-.495-.359-1.032-.359c-.817 0-1.394.558-1.394 1.389 0 .829.576 1.387 1.394 1.387.68 0 1.032-.358 1.032-.358l.665.885Zm-11.656 26.8h4.182v.997H20.65V38h-1.16v-3.791h-1.515v-.998Zm9.43.997h-1.058v1.436h1.066c.536 0 .832-.238.832-.718 0-.462-.304-.718-.84-.718Zm2.043.67c0 1.126-.874 1.724-2.067 1.724h-1.034V38h-1.161v-4.789h2.275c1.218 0 1.987.623 1.987 1.668Z"></path>
                    </svg></div>
                  <div class="information">
                    <div class="text-size-small">We are open by appointment only. Please contact us to set a time to come shop or sell.</div>
                    <div class="text-size-small">6222 Richmond Ave. #540<br>Houston, Texas 77057</div>
                    <div>
                      <div class="text-size-small">
{{ section.settings.text_email_info_at_thevintagecontessacom }}
</div>
                      <div class="text-size-small">
{{ section.settings.text_phone_713_977_7296 }}
</div>
                    </div>
                  </div>
                </div>
                <div class="footer_link-grid">
                  {% for link in linklists[section.settings.footer_menu].links %}    <div li-for="link in linklists[section.settings.footer_menu].links" class="footer_link-column">
                                    
                    
                            <div li-object="link.title" class="text-weight-semibold">{{ link.title }}</div>
                            
                    
                            <div li-for:inside="child_link in link.links" class="footer_link-list">
        {% for child_link in link.links %}                            
                      
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="footer_link">{{ child_link.title }}</a>
                            
                    
                    {% endfor %}    </div>
                            
                  
                        </div>
{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_divider"></div>
        <div class="padding-global padding-section-small">
          <div class="container-large">
            <div class="footer_sub-footer">
              <div class="text-size-regular">
{{ section.settings.text_delivery }}
</div>
              <div li-for:inside="link in linklists['footer'].links" id="w-node-_5eccf730-c887-5204-0e0c-693f99a732d3-99a7328f" class="footer_legal-links">
        {% for link in linklists['footer'].links %}                            
                
                            <a li-object="link.title" li-object:href="link.url" href="{{ link.url }}" class="text-style-link">{{ link.title }}</a>
                            
              
                    {% endfor %}    </div>
              <div class="footer_icon-grid">
                <div class="footer_icon-block">
                  <div class="footer_icon-row">
                    {% for block in section.blocks %}
    {% if block.type == "social-media" %}
                    <div li-block="Social-Media" class="footer_icon-item">
                                    
                      
                                    <a href="{{ block.settings.url_link }}" target="_blank" class="footer_social-link w-inline-block"> {% if block.settings.image_icon %} {{ block.settings.image_icon | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_social-icon' }} {% else %} <img src="{{ 'Instagram.png' | asset_url }}" loading="lazy" alt="" class="footer_social-icon"> {% endif %} </a>
                                    
                    
                            </div>
            {% endif %}
{% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "footer",
    "name": "Footer",
    "class": "section_footer",
    "blocks": [
        {
            "name": "Social-Media",
            "type": "social-media",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "image_icon",
                    "type": "image_picker",
                    "label": "Icon"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "text_checkbox",
            "type": "text",
            "label": "Checkbox",
            "default": "By subscribing you agree to with our <a href=\"#\"><span>Privacy Policy<\/span><\/a> and provide consent to receive updates from our company."
        },
        {
            "id": "text_email_info_at_thevintagecontessacom",
            "type": "text",
            "label": "Email: info@thevintagecontessa.com",
            "default": "Email: <span>info@thevintagecontessa.com<\/span>"
        },
        {
            "id": "text_phone_713_977_7296",
            "type": "text",
            "label": "Phone: (713) 977-7296",
            "default": "Phone: <span>(713) 977-7296<\/span>"
        },
        {
            "id": "text_delivery",
            "type": "text",
            "label": "Delivery",
            "default": "\u00a9 2026 Vintage Contessa &amp; Times Past. All rights reserved."
        },
        {
            "type": "text",
            "id": "placeholder_text",
            "label": "Placeholder Text",
            "default": "Email address"
        },
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu",
            "default": "footer"
        }
    ],
    "presets": [
        {
            "name": "Footer",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "social-media"
                }
            ]
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}