<div class="padding-global padding-section-large">
          <div class="container-large">
            <div class="content_grid align-top">
              <div class="product_heading-wrapper is-left">
                <div class="heading_symbol">
                  <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" fill="none">
                      <path fill="#BDA66E" d="M24.08.25c-3.08 0-5.214 1.74-6.923 3.93l1.628 2.191c1.304-1.778 2.858-3.113 5.064-3.113 2.779 0 4.955 1.96 4.955 4.742 0 2.554-1.806 4.786-4.955 4.786-2.422 0-4.079-1.791-5.553-3.976l-.063-.093-.124-.188a22.475 22.475 0 0 0-1.266-1.69c-.463-.554-1.302-1.743-1.433-1.943C13.57 2.382 11.28.25 7.873.25 3.056.25 0 3.943 0 8c0 4.149 3.056 7.75 7.873 7.75 3.08 0 5.215-1.71 6.924-3.865l-1.636-2.247c-1.314 1.789-2.89 3.148-5.057 3.148-3.15 0-4.908-2.279-4.908-4.786 0-2.417 1.759-4.741 4.908-4.741 2.466 0 4.092 1.76 5.56 3.94v-.001l1.53 2.12c.166.228.46.635.732 1.013l.004-.006.28.399c.09.125.17.234.229.318 1.85 2.534 4.126 4.708 7.642 4.708C29.036 15.75 32 12.058 32 8 32 3.35 28.34.25 24.08.25Z"></path>
                    </svg></div>
                </div>
                <div class="content_block">
                  <h3 class="heading-style-h3">
{{ section.settings.text_headline }}
</h3>
                </div>
              </div>
              <div class="text-size-regular">
{{ section.settings.text_paragraph }}
</div>
            </div>
            <div class="spacer-huge"></div>
            {% if section.settings.text_button_text != blank and section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text != blank and section.settings.text_button_text_2 != blank" class="button-group">
    
              {% if section.settings.text_button_text != blank %}    <div li-if="section.settings.text_button_text != blank" class="btn-wrap">
    
                <a href="{{ section.settings.url_button_link }}" class="button is-outline w-button"> {{ section.settings.text_button_text }} </a>
                  </div>
{% endif %}
                </div>
{% endif %}
            <div class="spacer-huge"></div>
            <div class="content_image-wrapper">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy' }}
{% else %}
<img src="{{ 'challet-contessa-hero-drone.webp' | asset_url }}" alt="" sizes="(max-width: 1920px) 100vw, 1920px" loading="lazy" srcset="{{ 'challet-contessa-hero-drone-p-500.webp' | asset_url }} 500w, {{ 'challet-contessa-hero-drone-p-800.webp' | asset_url }} 800w, {{ 'challet-contessa-hero-drone-p-1080.webp' | asset_url }} 1080w, {{ 'challet-contessa-hero-drone-p-1600.webp' | asset_url }} 1600w, {{ 'challet-contessa-hero-drone.webp' | asset_url }} 1920w">
{% endif %}</div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Large Image",
    "class": "section_content background-color-alternate",
    "settings": [
        {
            "id": "text_headline",
            "type": "text",
            "label": "Headline",
            "default": "A private sanctuary for life, legacy, and the art of living beautifully."
        },
        {
            "id": "text_paragraph",
            "type": "text",
            "label": "Paragraph",
            "default": "Nestled along the banks of the Eagle River between Avon and Edwards in Colorado\u2019s renowned Vail Valley, Chalet Contessa is more than a destination\u2014it is an immersive experience. With panoramic views of the river, Arrowhead Golf Course, and Beaver Creek Mountain, this luxurious retreat blends the grandeur of the Rockies with the elegance of European refinement.<br\/><br\/>Born from the legacy of The Vintage Contessa &amp; Times Past\u2014internationally recognized for curating rare, authentic luxury\u2014Chalet Contessa represents the next evolution of our brand: a place where meaningful connection, exceptional beauty, and timeless elegance come together. Designed for those who seek soulful luxury, it offers an atmosphere that feels both couture and comfortably lived-in, intimate yet unforgettable."
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Getting to Chalet Contessa"
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Large Image",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}