<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="content_grid">
              <div class="text-size-medium">
{{ section.settings.text_paragraph }}
</div>
              <div class="content_image-wrapper">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: sizes: '(max-width: 1920px) 100vw, 1920px', loading: 'lazy' }}
{% else %}
<img src="{{ 'challet-contessa-living-room.webp' | asset_url }}" alt="" sizes="(max-width: 1920px) 100vw, 1920px" loading="lazy" srcset="{{ 'challet-contessa-living-room-p-500.webp' | asset_url }} 500w, {{ 'challet-contessa-living-room-p-800.webp' | asset_url }} 800w, {{ 'challet-contessa-living-room-p-1080.webp' | asset_url }} 1080w, {{ 'challet-contessa-living-room-p-1600.webp' | asset_url }} 1600w, {{ 'challet-contessa-living-room.webp' | asset_url }} 1920w">
{% endif %}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Simple",
    "class": "section_content background-color-alternate",
    "settings": [
        {
            "id": "text_paragraph",
            "type": "text",
            "label": "Paragraph",
            "default": "Originally built in 1984 and stewarded by our family for over two decades, the estate has been thoughtfully transformed into a couture-inspired home. Herm\u00e8s scarves double as artwork, Louis Vuitton trunks become furniture, and textiles from Missoni, Dolce &amp; Gabbana, Schumacher, and Brunschwig &amp; Fils mingle with curated art and custom furnishings. Every detail reflects our belief that luxury is not about excess but about intention, craftsmanship, and stories that endure."
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Simple",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}