<div class="padding-global padding-section-large">
          <div class="container-large center_div">
            <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs max-width-full w-tabs">
              <div class="tabs_menu_wf w-tab-menu">
                {% for block in section.blocks %}    <a data-w-tab="Tab 1" li-attr:data-w-tab="block.id" li-for="block in section.blocks" li-class:w--current="forloop.first" class="tab_link w-inline-block w-tab-link w--current">
                                    
                  
                            <div class="heading-style-h7">Tab 1</div>
                            
                
                        </a>
{% endfor %}
              </div>
              <div class="tabs_content w-tab-content">
                {% for block in section.blocks %}    <div data-w-tab="Tab 1" li-attr:id="block.id" li-for="block in section.blocks" li-attr:data-w-tab="block.id" class="w-tab-pane w--tab-active">
                                    
                  
                            <div class="tabs_content">
                    <h3 class="heading-style-h3"> {{ section.settings.textarea_heading }} </h3>
                    <div class="text-size-regular">
{{ section.settings.text_text }}
</div>{% if section.settings.image_image_1 %}
{{ section.settings.image_image_1 | image_url: width: 1000 | image_tag: loading: 'lazy' }}
{% else %}
<img loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg">
{% endif %}{% if section.settings.image_image_2 %}
{{ section.settings.image_image_2 | image_url: width: 1000 | image_tag: li-if: 'block.settings.image_2 != blank', loading: 'lazy' }}
{% else %}
<img li-if="block.settings.image_2 != blank" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy">
{% endif %}{% if section.settings.image_image_3 %}
{{ section.settings.image_image_3 | image_url: width: 1000 | image_tag: li-if: 'block.settings.image_3 != blank', loading: 'lazy' }}
{% else %}
<img li-if="block.settings.image_3 != blank" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy">
{% endif %}
                  </div>
                            
                
                        </div>
{% endfor %}
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Tabs Left",
    "class": "section_tabs background-color-secondary",
    "settings": [
        {
            "id": "textarea_heading",
            "type": "textarea",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "id": "text_text",
            "type": "text",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. "
        },
        {
            "id": "image_image_1",
            "type": "image_picker",
            "label": "Image_1"
        },
        {
            "id": "image_image_2",
            "type": "image_picker",
            "label": "Image_2"
        },
        {
            "id": "image_image_3",
            "type": "image_picker",
            "label": "Image_3"
        }
    ],
    "presets": [
        {
            "name": "Tabs Left",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}