<div class="padding-global padding-section-large">
          <div class="container-large">
            <div class="product_heading-wrapper margin-bottom margin-xlarge">
              <div>
                <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" fill="none">
                    <path fill="#BDA66E" d="M24.08.25c-3.08 0-5.214 1.74-6.923 3.93l1.628 2.191c1.304-1.778 2.858-3.113 5.064-3.113 2.779 0 4.955 1.96 4.955 4.742 0 2.554-1.806 4.786-4.955 4.786-2.422 0-4.079-1.791-5.553-3.976l-.063-.093-.124-.188a22.475 22.475 0 0 0-1.266-1.69c-.463-.554-1.302-1.743-1.433-1.943C13.57 2.382 11.28.25 7.873.25 3.056.25 0 3.943 0 8c0 4.149 3.056 7.75 7.873 7.75 3.08 0 5.215-1.71 6.924-3.865l-1.636-2.247c-1.314 1.789-2.89 3.148-5.057 3.148-3.15 0-4.908-2.279-4.908-4.786 0-2.417 1.759-4.741 4.908-4.741 2.466 0 4.092 1.76 5.56 3.94v-.001l1.53 2.12c.166.228.46.635.732 1.013l.004-.006.28.399c.09.125.17.234.229.318 1.85 2.534 4.126 4.708 7.642 4.708C29.036 15.75 32 12.058 32 8 32 3.35 28.34.25 24.08.25Z"></path>
                  </svg></div>
              </div>
              <div class="product_heading">
                <h3 class="heading-style-h3">
{{ section.settings.text_heading }}
</h3>
              </div>
              <div class="text-weight-medium subtitle"> {{ section.settings.richtext_paragraph }} </div>
            </div>
            <div li-content-for-blocks="" class="testimonials">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

              {% when 'testimonial-card' %}
            <div li-block="Testimonial Card" class="testimonial-card">
                    
                
                    <div class="rating"><img width="16" height="15" alt="" src="{{ 'Rating-Item.svg' | asset_url }}" loading="lazy" class="star"><img width="16" height="15" alt="" src="{{ 'Rating-Item.svg' | asset_url }}" loading="lazy" class="star"><img width="16" height="15" alt="" src="{{ 'Rating-Item.svg' | asset_url }}" loading="lazy" class="star"><img width="16" height="15" alt="" src="{{ 'Rating-Item.svg' | asset_url }}" loading="lazy" class="star"><img width="16" height="15" alt="" src="{{ 'Rating-Item.svg' | asset_url }}" loading="lazy" class="star"></div>
                    
                
                    <div class="testimonial-content">
                  <div class="text-size-regular"> {{ block.settings.richtext_review }} </div>
                </div>
                    
                
                    <div class="testimonial-user">
                  <div class="div-block-3">{% if block.settings.image_customer_avatar %}
{{ block.settings.image_customer_avatar | image_url: width: 1000 | image_tag: width: '48', height: '48', loading: 'lazy', class: 'image-2' }}
{% else %}
<img width="48" height="48" alt="" loading="lazy" src="{{ 'Image_1Image.png' | asset_url }}" class="image-2">
{% endif %}</div>
                  <div class="testimonial-user-data">
                    <div class="text-size-regular text-weight-medium">
{{ block.settings.text_customer_name }}
</div>
                    <div class="text-size-regular text-weight-light">
{{ block.settings.text_date }}
</div>
                  </div>
                </div>
                    
              
                </div>
            {% endcase %}
{% endfor %}

    </div>
            <div class="spacer-xlarge"></div>
            <div class="button-group">
              <a href="{{ section.settings.url_button_link }}" class="button is-outline w-button"> {{ section.settings.text_button_text }} </a>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "testimonials",
    "class": "section_secondary",
    "blocks": [
        {
            "name": "Testimonial Card",
            "type": "testimonial-card",
            "settings": [
                {
                    "id": "richtext_review",
                    "type": "richtext",
                    "label": "Review",
                    "default": "<p>I loved the store and Ryan was absolutely great and answered all my questions. I never thought I was going to love \u2764\ufe0f this store so much. It was like finding a treasure in the heart of Houston. Ryan was super patient and helped me to choose an impeccable Louis Vuitton purse! I just want to report a very lazy employee, Grace Kelly, the dog. She was sleeping on the sofa all the time I was in the store. But you know, she's a princess and absolutely cute.<\/p>"
                },
                {
                    "id": "image_customer_avatar",
                    "type": "image_picker",
                    "label": "Customer Avatar"
                },
                {
                    "id": "text_customer_name",
                    "type": "text",
                    "label": "Customer Name",
                    "default": "paulene camargo"
                },
                {
                    "id": "text_date",
                    "type": "text",
                    "label": "Date",
                    "default": "October 11, 2025"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Client experience"
        },
        {
            "id": "richtext_paragraph",
            "type": "richtext",
            "label": "Paragraph",
            "default": "<p>Collectors trust us for our insight and unwavering commitment to exceptional luxury.<\/p>"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More Reviews"
        }
    ],
    "presets": [
        {
            "name": "testimonials",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "testimonial-card"
                }
            ]
        }
    ]
} {% endschema %}